<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="../../../../index.html">Mock-AirBnB Admin</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
  </button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
             aria-describedby="basic-addon2"/>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="login.html">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Product</div>
          <a class="nav-link" [routerLink]="['/admin/products/list']">
            <div class="sb-nav-link-icon"><i class="fab fa-product-hunt"></i></div>
            Products
          </a>
          <a class="nav-link" [routerLink]="['/admin/types/list']">
            <div class="sb-nav-link-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
            Types
          </a>
          <div class="sb-sidenav-menu-heading">Account</div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Admin
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Types Manager</h1>
        <ol class="breadcrumb mb-4">
          <!--          <li class="breadcrumb-item"><a [routerLink]="['/admin/types/list']">Dashboard</a></li>-->
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Types / List</li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Types
            <button [routerLink]="['/admin/types/create']" style="float: right" type="button" class="btn btn-primary"><i
              class="fas fa-plus"></i></button>
          </div>
          <div class="card-body">
            <div>
              <form class="container" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="username">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
                </div>
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="abc@mail.com" formControlName="email">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPhone">Phone</label>
                    <input type="text" class="form-control" id="inputPhone" formControlName="phone">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAge">Age</label>
                    <input type="text" class="form-control" id="inputAge" formControlName="age">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassport">Passport No.</label>
                    <input type="text" class="form-control" id="inputPassport" formControlName="passport">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputId">ID No.</label>
                    <input type="text" class="form-control" id="inputId" formControlName="idNumber">
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Edit</button>
                <button style="margin-left: 10px" class="btn btn-outline-dark" [routerLink]="['/admin']">Back</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>



