<!--<div class="super_container">-->

<!--  &lt;!&ndash; Header &ndash;&gt;-->

<!--  <header class="header">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <div class="header_content d-flex flex-row align-items-center justify-content-start">-->
<!--            <div class="logo">-->
<!--              <a href="#"><img src="assets/trung-new/images/logo.png" alt=""></a>-->
<!--            </div>-->
<!--            <nav class="main_nav">-->
<!--              <ul>-->
<!--                <li><a [routerLink]="['/home']">Home</a></li>-->
<!--                <li><a [routerLink]="['/home/all']">Properties</a></li>-->
<!--                <li><a href="news.html">News</a></li>-->
<!--                <li><a href="contact.html">Contact</a></li>-->
<!--                <li><a href="about.html">About us</a></li>-->
<!--              </ul>-->
<!--            </nav>-->
<!--            <div class="phone_num ml-auto">-->
<!--              <div class="phone_num_inner">-->
<!--                &lt;!&ndash;                <img src="assets/trung-new/images/logo.png" alt="">&ndash;&gt;-->
<!--                <img src="../../../assets/trung-new/images/user-16.png" height="20" width="20"/></div>-->
<!--            </div>-->
<!--            <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->

<!--  &lt;!&ndash; Menu &ndash;&gt;-->

<!--  <div class="menu trans_500">-->
<!--    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">-->
<!--      <div class="menu_close_container">-->
<!--        <div class="menu_close"></div>-->
<!--      </div>-->
<!--      <div class="logo menu_logo">-->
<!--        <a href="#">-->
<!--          <div class="logo_container d-flex flex-row align-items-start justify-content-start">-->
<!--            <div class="logo_image">-->
<!--              <div><img src="assets/trung-new/images/logo.png" alt=""></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--      <ul>-->
<!--        <li class="menu_item"><a [routerLink]="['/home']">Home</a></li>-->
<!--        <li class="menu_item"><a [routerLink]="['/home/list']">Properties</a></li>-->
<!--        <li class="menu_item"><a href="news.html">News</a></li>-->
<!--        <li class="menu_item"><a href="contact.html">Contact</a></li>-->
<!--        <li class="menu_item"><a href="about.html">About us</a></li>-->

<!--      </ul>-->
<!--    </div>-->
<!--    <div class="menu_phone"><span>call us: </span>652 345 3222 11</div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Home &ndash;&gt;-->

<!--  <div class="home">-->
<!--    <div class="parallax_background parallax-window" data-parallax="scroll"-->
<!--         data-image-src="assets/trung-new/images/properties.jpg" data-speed="0.8"></div>-->
<!--    <div class="home_container">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <div class="home_content d-flex flex-row align-items-end justify-content-start">-->
<!--              <div class="home_title">Search results</div>-->
<!--              <div class="breadcrumbs ml-auto">-->
<!--                <ul>-->
<!--                  <li><a href="index.htmo">Home</a></li>-->
<!--                  <li>Search Results</li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Home Search &ndash;&gt;-->
<!--  <div class="home_search">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <div class="home_search_container">-->
<!--            <div class="home_search_content">-->
<!--              <form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">-->
<!--                <div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">-->
<!--                  <div>-->
<!--                    <select class="search_form_select">-->
<!--                      <option disabled selected>For rent</option>-->
<!--                      <option>Yes</option>-->
<!--                      <option>No</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <select class="search_form_select">-->
<!--                      <option disabled selected>All types</option>-->
<!--                      <option>Type 1</option>-->
<!--                      <option>Type 2</option>-->
<!--                      <option>Type 3</option>-->
<!--                      <option>Type 4</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <select class="search_form_select">-->
<!--                      <option disabled selected>City</option>-->
<!--                      <option>New York</option>-->
<!--                      <option>Paris</option>-->
<!--                      <option>Amsterdam</option>-->
<!--                      <option>Rome</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <select class="search_form_select">-->
<!--                      <option disabled selected>Bedrooms</option>-->
<!--                      <option>1</option>-->
<!--                      <option>2</option>-->
<!--                      <option>3</option>-->
<!--                      <option>4</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <select class="search_form_select">-->
<!--                      <option disabled selected>Bathrooms</option>-->
<!--                      <option>1</option>-->
<!--                      <option>2</option>-->
<!--                      <option>3</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <button class="search_form_button ml-auto">search</button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Intro &ndash;&gt;-->

<!--&lt;!&ndash;  <div class="intro">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="intro_content d-flex flex-lg-row flex-column align-items-start justify-content-start">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="intro_title_container">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="intro_title">{{house.nameHouse}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="intro_tags">&ndash;&gt;-->
<!--&lt;!&ndash;                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Hottub</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Swimming Pool</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Garden</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Patio</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li><a href="#">Hard Wood Floor</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="intro_price_container ml-lg-auto d-flex flex-column align-items-start justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;              <div>Book now</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="intro_price">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>$</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>{{house.priceHouse}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="intro_slider_container">&ndash;&gt;-->

<!--&lt;!&ndash;      &lt;!&ndash; Intro Slider &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash; Slide &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="owl-item"><img src="assets/trung-new/images/intro_1.jpg" alt=""></div>&ndash;&gt;-->

<!--&lt;!&ndash;      &lt;!&ndash; Intro Slider Nav &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="intro_slider_nav_container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="intro_slider_nav_content d-flex flex-row align-items-start justify-content-end">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="intro_slider_nav intro_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="intro_slider_nav intro_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash; Booking Form &ndash;&gt;-->



<!--  &lt;!&ndash; Newsletter &ndash;&gt;-->

<!--  <div class="newsletter">-->
<!--    <div class="parallax_background parallax-window" data-parallax="scroll"-->
<!--         data-image-src="assets/trung-new/images/newsletter.jpg" data-speed="0.8"></div>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">-->
<!--            <div class="newsletter_title_container">-->
<!--              <div class="newsletter_title">Are you buying or selling?</div>-->
<!--              <div class="newsletter_subtitle">Search your dream home</div>-->
<!--            </div>-->
<!--            <div class="newsletter_form_container">-->
<!--              <form action="#" class="newsletter_form">-->
<!--                <input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">-->
<!--                <button class="newsletter_button">subscribe now</button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Footer &ndash;&gt;-->

<!--  <footer class="footer">-->
<!--    <div class="footer_main">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-3">-->
<!--            <div class="footer_logo"><a href="#"><img src="assets/trung-new/images/logo_large.png" alt=""></a></div>-->
<!--          </div>-->
<!--          <div class="col-lg-9 d-flex flex-column align-items-start justify-content-end">-->
<!--            <div class="footer_title">Latest Properties</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-lg-3 footer_col">-->
<!--            <div class="footer_about">-->
<!--              <div class="footer_about_text">Donec in tempus leo. Aenean ultricies mauris sed quam lacinia lobortis.-->
<!--                Cras ut vestibulum enim, in gravida nulla. Curab itur ornare nisl at sagittis cursus.-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 footer_col">-->
<!--            <div class="footer_latest d-flex flex-row align-items-start justify-content-start">-->
<!--              <div>-->
<!--                <div class="footer_latest_image"><img src="assets/trung-new/images/footer_latest_1.jpg" alt=""></div>-->
<!--              </div>-->
<!--              <div class="footer_latest_content">-->
<!--                <div class="footer_latest_location">Miami</div>-->
<!--                <div class="footer_latest_name"><a href="#">Sea view property</a></div>-->
<!--                <div class="footer_latest_price">$ 1. 234 981</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 footer_col">-->
<!--            <div class="footer_latest d-flex flex-row align-items-start justify-content-start">-->
<!--              <div>-->
<!--                <div class="footer_latest_image"><img src="assets/trung-new/images/footer_latest_2.jpg" alt=""></div>-->
<!--              </div>-->
<!--              <div class="footer_latest_content">-->
<!--                <div class="footer_latest_location">Miami</div>-->
<!--                <div class="footer_latest_name"><a href="#">Town House</a></div>-->
<!--                <div class="footer_latest_price">$ 1. 234 981</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 footer_col">-->
<!--            <div class="footer_latest d-flex flex-row align-items-start justify-content-start">-->
<!--              <div>-->
<!--                <div class="footer_latest_image"><img src="assets/trung-new/images/footer_latest_3.jpg" alt=""></div>-->
<!--              </div>-->
<!--              <div class="footer_latest_content">-->
<!--                <div class="footer_latest_location">Miami</div>-->
<!--                <div class="footer_latest_name"><a href="#">Modern House</a></div>-->
<!--                <div class="footer_latest_price">$ 1. 234 981</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="footer_bar">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">-->
<!--              <div class="cr">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                Copyright &copy;<script>document.write(new Date().getFullYear());</script>-->
<!--                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a-->
<!--                  href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--                &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--              </div>-->
<!--              <div class="footer_nav">-->
<!--                <ul>-->
<!--                  <li><a href="index.html">Home</a></li>-->
<!--                  <li><a href="#">About us</a></li>-->
<!--                  <li><a href="properties.html">Properties</a></li>-->
<!--                  <li><a href="news.html">News</a></li>-->
<!--                  <li><a href="contact.html">Contact</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              <div class="footer_phone ml-auto"><span>call us: </span>652 345 3222 11</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->

<h1>ĐCMM</h1>
