<div class="container">
  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <h2>Registration</h2>
    <div class="form-group">
      <label for="idNumber" class="col-sm-3 control-label">idNumber</label>
      <div class="col-sm-9">
        <input type="text" id="idNumber" formControlName="idNumber" placeholder="idNumber" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="passport" class="col-sm-3 control-label">passport</label>
      <div class="col-sm-9">
        <input type="text" id="passport" formControlName="passport" placeholder="passport" class="form-control" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">Username* </label>
      <div class="col-sm-9">
        <input type="text" id="username" formControlName="username" placeholder="username" class="form-control" name= "username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password*</label>
      <div class="col-sm-9">
        <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="password1" class="col-sm-3 control-label">Confirm Password*</label>
      <div class="col-sm-9">
        <input type="password" id="password1" placeholder="Password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="col-sm-3 control-label">Age*</label>
      <div class="col-sm-9">
        <input type="text" id="age" formControlName="age" placeholder="age" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
      <div class="col-sm-9">
        <input type="phoneNumber" id="phoneNumber" formControlName="phonenumber" placeholder="Phone number" class="form-control">
        <span class="help-block">Your phone number won't be disclosed anywhere </span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email* </label>
      <div class="col-sm-9">
        <input type="email" id="email" formControlName="email" placeholder="email@gmail.com" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-3 control-label">Address* </label>
      <div class="col-sm-9">
        <input type="text" id="address"formControlName="address" placeholder="hà nội, việt nam" class="form-control">
      </div>
    </div>
<!--    <div class="form-group">-->
<!--      <label class="control-label col-sm-3">Gender</label>-->
<!--      <div class="col-sm-6">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-4">-->
<!--            <label class="radio-inline">-->
<!--              <input type="radio" id="femaleRadio" value="Female">Female-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col-sm-4">-->
<!--            <label class="radio-inline">-->
<!--              <input type="radio" id="maleRadio" value="Male">Male-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div> &lt;!&ndash; /.form-group &ndash;&gt;-->
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <span class="help-block">*Required fields</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>
</div>
